<!DOCTYPE html>
<html lang="en">

<head>
    <title>Counterfacto - Webapp</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/search.css" rel="stylesheet">

    <script type="text/javascript" href="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" href="../static/js/search.js"></script>
</head>
<body>
    <div class="container">
        <h3 class="text-muted">Counterfacto</h3>
    </div>

    <div class="jumbotron">
        <h1>Counterfacto</h1>
        <form class="form-search" method="post" action="/search">
            <label for="search" class="sr-only">Search term or Twitter username</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label><input type="radio" name="searchMethod" id="searchMethod" class="radio-inline" value="account">Twitter Account</label>
            <label><input type="radio" name="searchMethod" id="searchMethod" class="radio-inline" value="searchterm">Search Term</label>

            <input type="submit" class="btn btn-lg btn-primary btn-block"></input>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; PIEnews / Dyne.org 2016-2116</p>
    </footer>
</body>
</html>
